img{
    width: 100%;
    height:auto;
}

h1{
color: #ffffff;
font-weight: bold;
}

p{
    color: #ffffff;
}

a{
    background-color: #4425cf;
    border-radius: 2px;
    padding: 1px;
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    background-color: #4425cf;
    color: #ffffff;
    border: 2px solid #ffffff;
}